.overlay {
    width: 50rem;
    height: 30rem;
    border-radius: 10%;
    background-color: #0f2557;
    display: grid;
    justify-content: center;
    align-self: center;
    margin-top: 5rem;
    margin-left: 15rem;
    align-items: center;
    opacity: .8;
    text-align: center;
    align-content: center;
    display: absolute;
    }
    body{
        background-image:url('../img/bg.jpg');
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
    }

.bargraph {
    list-style: none;
    padding-top: 20px;
  }
  
  ul.bargraph li {
    height: 4rem;
    color: white;
    text-align: left;
    font-style: italic;
    font-weight: bolder;
    font-size: 14px;
    line-height: 35px;
    padding: 0px 20px;
    margin-bottom: 5px;
  }
      
  ul.bargraph li.dieprood {
  background: #ED1C24;
  }
   
  ul.bargraph li.roodroze {
  background: #EF465B;
  }
   
  ul.bargraph li.roze {
  background: #E55A6B;
  }
   
  ul.bargraph li.oranjerood {
  background: #E28159;
  }
   
  ul.bargraph li.oranje {
  background: #F99C1C;
  }
   
  ul.bargraph li.geel {
  background: #F4D41E;
  }
   
  ul.bargraph li.groen {
  background: #97B546;
  }
   
  ul.bargraph li.lichtgroen {
  background: #36B669;
  }
   
  ul.bargraph li.groenblauw {
  background: #42BDA5;
  }
   
  ul.bargraph li.blauw {
  background: #00AEEF;
  }
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    border-radius: 20%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
